<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div xmlns:a0="http://www.w3.org/1999/xhtml" xmlns="" id="s8gjT"/>
        <div xmlns:a2="http://www.w3.org/1999/xhtml" xmlns="" class="container-fluid component-wrapper-compact-sidebar sidebar_compact_left_visible">
            <div class="sidebar-top_wrapper"/>
            <div class="sidebar_toggle sidebar_toggle_left sidebar_toggle_in_content"/>
            <div class="app_logo app_logo_compact_sidebar"/>
            <div xmlns="" class="row">
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <div xmlns="" id="FVKl3"/>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <div xmlns="" id="5i4hs"/>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <div xmlns="" id="GXoTk"/>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <div xmlns="" id="hCQoB"/>
                </div>
                <div class="col-6 col-sm-4 col-md-4col-lg-2 col-xl-2">
                    <div xmlns="" id="Vfrds"/>
                </div>
                <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <div xmlns="" id="zo9n7"/>
                </div>
            </div>
            <div xmlns="" class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <div xmlns="" id="Z0fDv"/>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
                    <div id="pxTvY"/>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <div id="pnkiH"/>
                    <div id="YdsKf"/>
                </div>
            </div>
            <div xmlns="" class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                </div>
            </div>
        </div>
    </div>
</div>