<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_side_navbar">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="left-compact-sidebar component-content-fixed sidebar-left" style="display:none">
        <nav class="sidebar sidebar-dark compact-sidebar">
            <div class="sidebar_toggle sidebar_toggle_left nav-link-important"></div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link navigation-activate-on-home" href="#"><i class="fa fa-home" aria-hidden="true"></i><br/>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation-activate-on-page_one" href="#"><i class="fa fa-link" aria-hidden="true"></i><br/>Item 1</a>
                </li>
                <li class="nav-item dropright">
                    <a class="nav-link navigation-activate-on-page_two dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-link" aria-hidden="true"></i><br/>Item 2</a>
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links -->
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation-activate-on-page_three" href="#"> <i class="fa fa-link" aria-hidden="true"></i><br/>Item 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation-activate-on-page_three" href="#"> <i class="fa fa-link" aria-hidden="true"></i><br/>Item 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation-activate-on-page_three" href="#"> <i class="fa fa-link" aria-hidden="true"></i><br/>Item 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navigation-activate-on-page_three" href="#"> <i class="fa fa-link" aria-hidden="true"></i><br/>Item 6</a>
                </li>
            </ul>
            <ul class="nav flex-column fixed-bottom">
                <li class="nav-item">
                    <a id="navigation_item_my_profile" class="nav-link nav-link-important navigation-activate-on-profile" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>