<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_side_navbar">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="left-compact-sidebar component-content-fixed sidebar-left" style="display:none">
        <nav class="sidebar sidebar-dark compact-sidebar has-fixed-content">
            <div class="sidebar_toggle sidebar_toggle_left nav-link-important"></div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a id="navigation_item_admin" class="nav-link navigation-activate-on-home" href="#"><i class="fa fa-home" aria-hidden="true"></i><br/>Admin</a>
                </li>
                <li class="nav-item">
                    <a id="navigation_item_new_ticket" class="nav-link navigation-activate-on-page_one" href="#"><i class="fa fa-link" aria-hidden="true"></i><br/>New Ticket</a>
                </li>
                <!-- Example of how to make an item only visible for a specified user role -->
            </ul>
            <ul class="nav flex-column fixed-bottom">
                <li class="nav-item">
                    <a id="navigation_item_my_profile" class="nav-link nav-link-important navigation-activate-on-profile" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>