<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_side_navbar">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="left-compact-sidebar component-content-fixed sidebar-left" style="display:none">
        <nav class="sidebar sidebar-dark compact-sidebar has-fixed-content">
            <div class="sidebar_toggle sidebar_toggle_left nav-link-important"></div>
            <ul class="nav flex-column">
                <div class="menu-advanced-training-exercise-menu"/>
            </ul>
            <ul class="nav flex-column fixed-bottom">
                <div class="menu-profile_menu"/>
            </ul>
        </nav>
    </div>
</div>