<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div xmlns="" class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <div id="StatusLabel" class="StatusLabel float-left">
                        {Status}
                    </div>
                </div>
                <div class="col-2">
                    <div id="StatusCount" class="StatusCount float-right">
                        {X}
                    </div>
                </div>
                <!--<div class="col-12">
                    <div id="StatusWrapper"/>
                </div>-->
            </div>
        </div>
    </div>
</div>