<div id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div class="container-fluid">
            <div class="row mt-n4 crud-component-wrapper-data-list">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="data_series_wrapper" style="display:none;">
                        <div id="data_series"/>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <button id="button_create" type="button" class="btn btn-outline-primary fullwidth mt-1"><i class="fa fa-plus" aria-hidden="true"></i> Additional Info</button>
                            </div>
                        </div>
                    </div>
                    <div id="data_update_wrapper" style="display:none;">
                        <div class="row">
                            <div class="col-md-4">
                                <button id="button_update_back" type="button" class="btn btn-link crud-component-back-button-data-list"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</button>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                        </div>
                        <div id="data_update"/>
                    </div>
                    <div id="data_create_wrapper" style="display:none;">
                        <div class="row">
                            <div class="col-md-4">
                                <button id="button_create_back" type="button" class="btn btn-link crud-component-back-button-data-list"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</button>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                        </div>
                        <div id="data_create"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>