.data_list_item > .row {
    max-height: 50px;
}

.col-8 {
    margin-top: 0px !important;
}

.col-2 {
    margin-top: 0px !important;
}

.col-4 {
    margin-top: 0px !important;
}

.col-3 {
    margin-top: 0px !important;
}

.col-12 {
    margin-top: 0px !important;
}
.col-6 {
    margin-top: 0px !important;
}

.col-1 {
    padding: 0px;
    margin-top: 0px !important;
}

.dashboard-tile {
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.08);
    font-weight: bold;
    color: white;
}

.dashboard-tile-list {
    max-height: 50px;
    margin: 0px;
    padding: 0px;
    color: black;
    font-size: 14px;
    text-align: center;
}

.dashboard-tile-profile-picture {
    padding: 0px;
    align-content: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: 90px;
}

.dashboard-tile-account-info {
    padding-left: 5px;
}


.account-summary-profile-picture {
    /*min-height: 30%;*/
    max-height: 50px;
    max-width: 50px;
    border-radius: 15px;
}

.account-summary-name {
    text-align: center;
}

.account-summary-info {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;

}