<div id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_data_view">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <form class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="InputUsername">User name</label>
                        <input type="text" class="form-control" id="InputUsername" aria-describedby="emailHelp" placeholder="Enter user name" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="InputPassword">Password</label>
                        <input type="password" class="form-control" id="InputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="col-12">
                    <button id="btnProcessAuthentication" type="button" class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>