<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="container-fluid container-fluid-cover component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content grey-area" style="display:none;">
        <div class="container">
            <div class="row" style="height:100vh;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="LogoWrapper" style="text-align: center;"></div>
                    <div id="AuthenticationComponent"></div>
                    <div xmlns="" id="F6jlG"/>
                    <div xmlns="" id="4cDTZ"/>
                    <div xmlns="" id="d7Df5"/>
                    <div xmlns="" id="rAz6u"/>
                    <div xmlns="" id="zAHqa"/>
                    <div xmlns="" id="aqgTh"/>
                    <div xmlns="" id="VkZ5Q"/>
                    <div xmlns="" id="axQsh"/>
                    <div xmlns="" id="5Q5Pv"/>
                    <div xmlns="" id="SZ6uu"/>
                    <div xmlns="" id="KFr3n"/>
                    <div xmlns="" id="WDdtT"/>
                    <div xmlns="" id="FPQSf"/>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>