<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div class="container-fluid">
            <div xmlns="" class="row text-center">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                    <div id="PqCTk" />
                    <h4 class="mt-5">WELCOME</h4>
                    <p>You've landed on the Divblox default native landing page.
                        This page will automatically redirect you to your role-specific landing page if you are
                        authenticated.
                        If not, you have the option here to log in.</p>
                    <p>Feel free to edit this page to serve as an entry point into the native part of your Divblox
                        app.</p>
                    <div id="RURmz">
                        <button type="button" id="RURmz_btn" class="btn btn-outline-primary mt-4">Login</button>
                    </div>
                    <div id="DemoButton">
                        <button type="button" id="ExternalDemoButton" class="btn btn-outline-primary mt-4">Open
                            Divblox.com <i class="fa fa-external-link"></i></button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                </div>
            </div>
        </div>
    </div>
</div>