<div id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_navbar">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content-fixed" style="display:none">
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light has-fixed-content dx-bottom-nav">
            <ul class="navbar-nav dx-bottom-nav-ul m-auto w-100 nav-fill">
                <div class="menu-default_bottom_nav" />
            </ul>
        </nav>
    </div>
</div>