<div id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_image">
        <div id="ComponentFeedback" />
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img id="image" src="divblox/assets/images/no_image.svg" class="img-fluid mt-1" />
                </div>
            </div>
        </div>
    </div>
</div>
