<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none;">
        <div xmlns="" class="container-fluid">
            <div id="StatusWrapper" class="mock-tile">
                <div class="row">
                    <div class="col-8">
                        <div id="StatusTitle" class="float-left">
                            {StatusTitle}
                        </div>
                    </div>
                    <div class="col-4">
                        <div id="StatusValue" class="float-left">
                            {Value}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div id="StatusPercentage" class="">
                            {StatusPerc}
                        </div>
                    </div>
                    <div class="col-8">
                        <div id="StatusTime" class="">
                            {StatusTime}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>