<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div xmlns="" class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <h5>Functions</h5>
                    <ul>
                        <li><strong>Function 1</strong>: This function will generate a bunch of categories and accounts. It will then generate a bunch of tickets, each linked to a random category and account with a random status and due date.</li>
                        <li><strong>Function 2</strong>: Return all tickets in the category specified in the input box</li>
                        <li><strong>Function 3</strong>: Return all tickets where the account's first name is specified in the input box and the ticket's status is <em>In Progress</em></li>
                        <li><strong>Function 4</strong>: Return all tickets that have a status <em>Completed</em> where the due date is in the current month, ordered by <em>Ticket Due Date</em> ascending</li>
                        <li><strong>Function 5</strong>: Return a list of account full names with a count of tickets that they each currently have <em>In Progress</em>.</li>
                        <li><strong>Function 6</strong>: Return a list of account email addresses. For each account, show an array of categories. For each category in the array, show the total count for all tickets in that category, as well as the count for the specific account.</li>
                        <li><strong>Function 7</strong>: Optimise function 6 to improve the response time from the server. This is going to be evaluated using the 'Network' tab in your browser's dev tools.</li>
                    </ul>
                    <div xmlns="" id="8LSBQ">
                        <div class="form-group">
                            <label for="8LSBQ_FormControlSelect">Function To Execute</label>
                            <select class="form-control" id="8LSBQ_FormControlSelect">
                                <option value="Function1">Function 1</option>
                                <option value="Function2">Function 2</option>
                                <option value="Function3">Function 3</option>
                                <option value="Function4">Function 4</option>
                                <option value="Function5">Function 5</option>
                                <option value="Function6">Function 6</option>
                                <option value="Function7">Function 7</option>
                            </select>
                           </div>
                    </div>
                    <div xmlns="" id="H7u7b">
                        <div class="form-group">
                            <label for="H7u7b_FormControlInput">Additional Input Text</label>
                            <input id="H7u7b_FormControlInput" type="text" class="form-control" placeholder="Text Input"/>
                        </div>
                    </div>
                    <div xmlns="" id="dfVzo">
                        <button type="button" id="dfVzo_btn" class="btn btn-primary fullwidth">Execute Function</button>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div xmlns="" id="irhQH">
                        <div id="ResultWrapper"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>