<div id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_navbar">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content-fixed" style="display:none">
        <nav class="navbar text-center fixed-top navbar-expand-lg navbar-light bg-light dx-top-nav">
            <div class="navbar-brand app_logo" style="max-width:90px;"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <div class="example-top-menu" />
                </ul>
                <ul class="navbar-nav mr-0">
                    <div class="menu-profile_menu" />
                </ul>
            </div>
        </nav>
    </div>
</div>