<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_data_view">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div class="container-fluid container-no-gutters">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div id="TicketNameWrapper" class="entity-instance-input-field">
                        {TicketName}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div id="TicketDescriptionWrapper" class="entity-instance-input-field">
                        {TicketDescription}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div id="TicketDueDateWrapper" class="entity-instance-input-field">
                        {TicketDueDate}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div id="TicketStatusWrapper" class="entity-instance-input-field">
                        {TicketStatus}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div id="TicketUniqueIdWrapper" class="entity-instance-input-field">
                        {TicketUniqueId}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div id="CategoryWrapper" class="entity-instance-input-field">
                        {Category}
                    </div>
                </div>
            </div>
            <div id="AdditionalInputFieldsWrapper" class="row">
                <!-- Fields that are included by the component, but not provided for by wrappers will be rendered here... -->
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <button id="btnSave" type="button" class="btn btn-primary fullwidth mt-1">Update</button>
                        </div>
                        <div class="col-md-6">
                            <button id="btnDelete" type="button" class="btn btn-danger fullwidth mt-1">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div xmlns="" class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div xmlns="" id="EmtSe">
                        <h4> Subtasks </h4>
                    </div>
                    <div xmlns="" id="zsg8N"/>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div xmlns="" id="ZHyRp">
                        <h4> Notes </h4>
                    </div>
                    <div xmlns="" id="YcX5f"/>
                </div>
            </div>
        </div>
    </div>
</div>