<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_general">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="component-content" style="display:none">
        <div id="SideNavAnchor"></div>
        <div xmlns="" class="container-fluid component-wrapper-compact-sidebar sidebar_compact_left_visible">
            <div class="sidebar-top_wrapper"/>
            <div class="sidebar_toggle sidebar_toggle_left sidebar_toggle_in_content"/>
            <div class="app_logo app_logo_compact_sidebar"/>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="icZfo"/>
                </div>
            </div>
        </div>
    </div>
</div>